.layout-d-row {
    display: flex;
    flex-direction: row;
}
.container {
    width: 90%;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    margin-bottom: 36px;
}
.scroll {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
}
.controller {
    width: 20%;
    background-color: #333;
    height: 100vh;
    border-radius: 4px 0 0 4px;
    margin-left: auto;
}
.main {
    width: 55%;
}