.navbar {
    width: 5%;
    height: 100vh;
    background-color: #4c4c4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav-group *, .nav-link-group * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}
.nav-group *:hover, .nav-link-group *:hover {
    /* background: #FFFFA6;
    background-size: 4px 56px; */
    filter: brightness(0) saturate(100%) invert(89%) sepia(37%) saturate(372%) hue-rotate(3deg) brightness(103%) contrast(111%);
}
.nav-link-group * {
    margin-top: 0px;
    margin-bottom: 36px;
}
.nav-content {
    width: 20%;
    background-color: #333;
    height: 100vh;
    transform: translate(-25vw);
    display: none;
    transition-duration: 0.2s;
    border-radius: 0 4px 4px 0;
    /* transition-property: transform; how to get this working? */
}
.active {
    transform: translate(0);
    display: block;
}
.nav-link-active {
    filter: brightness(0) saturate(100%) invert(89%) sepia(37%) saturate(372%) hue-rotate(3deg) brightness(103%) contrast(111%);
}